**/node_modules
**/*.lock
**/*.node
**/build
**/.cache
**/dist
**/CMakeLists.txt
.gitignore
package.json
packages/JSMeow/.eslintrc.js
packages/JSMeow/package.json
packages/JSMeow/tsconfig.json
packages/JSMeow/.vscode/c_cpp_properties.json
packages/JSMeow/src/cpp/draws.cpp
packages/JSMeow/src/cpp/exports.cpp
packages/JSMeow/src/cpp/helper.cpp
packages/JSMeow/src/cpp/helper.h
packages/JSMeow/src/cpp/misc.cpp
packages/JSMeow/src/ts/addon.ts
packages/JSMeow/src/ts/draw.ts
packages/JSMeow/src/ts/index.ts
packages/JSMeow/src/ts/overlay.ts
